
[submodule "bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty

[submodule "bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty

[submodule "bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = dirty

[submodule "bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty

[submodule "bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty

[submodule "bundle/snipmate"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty

[submodule "bundle/shymenu"]
	path = .vim/bundle/shymenu_vim
	url = https://github.com/tomtom/shymenu_vim.git
	ignore = dirty

[submodule "bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty

[submodule "bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
	ignore = dirty

[submodule "bundle/lua"]
	path = .vim/bundle/lua
	url = https://github.com/vim-scripts/lua.vim.git
	ignore = dirty

[submodule "bundle/luainspect"]
	path = .vim/bundle/luainspect
	url  = https://github.com/xolox/vim-lua-inspect.git
	ignore = dirty

[submodule "bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url  = https://github.com/michaeljsmith/vim-indent-object.git
	ignore = dirty

[submodule "bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url  = https://github.com/digitaltoad/vim-jade.git
	ignore = dirty

[submodule "bundle/vim-numbertoggle"]
	path = .vim/bundle/vim-numbertoggle
	url  = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
	ignore = dirty

